Source: gnome-shell-extension-dash-to-panel
Section: gnome
Priority: optional
Maintainer: Marco Trevisan <marco@ubuntu.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               eslint <!nocheck>,
               libglib2.0-bin,
               node-chalk <!nocheck>,
               node-js-yaml <!nocheck>,
               node-strip-ansi <!nocheck>,
               libgettextpo-dev,
               gettext,
               sassc,
Standards-Version: 4.1.1
Vcs-Git: https://github.com/home-sweet-gnome/dash-to-panel
Vcs-Browser: https://github.com/home-sweet-gnome/dash-to-panel
Homepage: https://github.com/home-sweet-gnome/dash-to-panel

Package: gnome-shell-extension-dash-to-panel
Architecture: all
Depends: gnome-shell,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Dash to Panel is an icon taskbar for Gnome Shell. This extension moves the dash into the gnome main panel so that the application launchers and system tray are combined into a single panel